html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: font1;
  src: url(georgiai.ttf);
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #DCD6F7;
  color: #333333;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #6a72af;
  padding: 20px;
}

form {
  max-width: 600px;
  margin: 30px auto;
  background-color: #F4EEFF;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

form input, textarea {
  background-color: #DCD6F7;
}

form input:focus, textarea:focus {
  outline: none;
}

input,
textarea,
select {
  align-items: center;
  width: 95%;
  padding: 10px;
  margin: 5px 0 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #424874;
  color: white;
  margin: 5px 5px 5px 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
}

button:hover {
  background-color: #6a72af;
}

p {
  text-align: center;
  margin-top: 20px;
}

/* table */
.error {
  color: red;
  font-weight: bold;
}

.success {
  color: green;
  font-weight: bold;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #6a72af;
  margin-top: 20px;
}