html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f9f9f9;
  color: #333333;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #333;
  padding: 20px;
}

form {
  max-width: 600px;
  margin: 30px auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.filter label {
  width: 170px;
  font-weight: bold;
  display: block;
  align-items: center;
  justify-content: center;
}

input,
textarea,
select {
  align-items: center;
  width: 95%;
  padding: 10px;
  margin: 5px 0 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #28a745;
  color: white;
  margin: 5px 5px 5px 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
}

button:hover {
  background-color: #218838;
}

p {
  text-align: center;
  margin-top: 20px;
}

/* table */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #4ade80;
  color: white;
  max-height: 100px;
}

.profile {
  font-weight: 600;
}

.profile a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

.logout-btn {
  background-color: #ef4444;
  padding: 10px;
  border-radius: 10px;
  font-weight: 600;
}

.filter {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin: 20px auto;
  max-width: 1200px;
}

#event-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

table {
  border-radius: 30px;
}

#event-table {
  width: 90%;
  margin: 20px auto;
  border-collapse: collapse;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 50px;
}

#event-table th,
#event-table td {
  padding: 15px;
  border-bottom: 1px solid #ddd;
  text-align: center;
  transition: .3s all ease-in-out;
}

#event-table th:hover {
  background-color: rgba(92, 200, 131, 0.403);
}

#event-table th {
  background-color: #cdffce;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #333333;
}

#event-table tr:hover {
  background-color: #f1f5f9;
  transition: background-color 0.3s;
}

#event-table img {
  width: 100px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.actions {
  display: flex;
  flex-direction: row;
  width: auto;
  height: 100%;

}

.actions a {
  padding: 10px 15px;
  margin: 0 5px;
  color: white;
  text-decoration: none;
  background-color: #0ea5e9;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.actions a:hover {
  background-color: #0284c7;
}

.actions .delete {
  background-color: #ef4444;
}

.actions .delete:hover {
  background-color: #dc2626;
}

.create-event {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  padding: 12px 24px;
  background-color: #4ade80;
  color: white;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  border-radius: 5px;
  text-align: center;
}

.create-event:hover {
  background-color: #22c55e;
}

/* user */
.header {
  background-color: #28a745;
  color: white;
  padding: 20px;
  text-align: center;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.profile img {
  border-radius: 50%;
  margin-right: 20px;
}

.profile-info {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.content {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.content h2 {
  color: #28a745;
}

button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button.logout-btn {
  background-color: white;
  color: #28a745;
  border: 2px solid #28a745;
}

button:hover {
  opacity: 0.9;
}


/* msg */
.error {
  color: red;
  font-weight: bold;
}

.success {
  color: green;
  font-weight: bold;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
  margin-top: 20px;
}
