@font-face {
  font-family: font1;
  src: url(georgiai.ttf);
}

html,
body {
  background-color: #F4EEFF;
  scroll-behavior: smooth;
}

.event-browsing-container {
  width: 100%;
  margin: 0 auto;
}

.event-browsing-container h1 {
  color: #424874;
  font-family: font1;
  font-size: 60px;
  font-weight: bold;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.event-browsing-contents {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  align-items: center;
}

.event-browsing-content {
  display: flex;
  width: 25%;
  background-color: #DCD6F7;
  margin: 20px;
  flex-direction: column;
  padding: 20px;
  color: #424874;
  border-radius: 20px;
}

.event-browsing-content h2 {
  margin: 0;
  font-family: font1;
}

.event-browsing-search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
  margin-top: 30px;
}

.event-browsing-search input {
  width: 35%;
  padding: 10px;
  border: 1px solid #424874;
  border-radius: 20px;
  border-radius: 4px;
  background-color: #F4EEFF;
  color: #424874;
}

.event-browsing-search input:focus {
  outline: none;
}

.event-browsing-search button {
  right: 10px;
  top: 50%;
  background: none;
  border: none;
  cursor: pointer;
  color: #666;
}

.clear-search:hover {
  color: #333;
}

.detail-button,
.event-register-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #424874;
  color: #F4EEFF;
  border: none;
  border-radius: 50px;
}

.detail-button:hover,
.event-register-button {
  cursor: pointer;
}

.event-register-button a {
  text-decoration: none;
  color: #F4EEFF;
}

.event-register-button a:visited {
  color: #F4EEFF;
}

.event-browsing-details {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  overflow: auto;
}

.event-browsing-detail {
  background: rgba(220, 214, 247, 0.2888);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.3px);
  -webkit-backdrop-filter: blur(7.3px);
  border: 3px solid rgba(220, 214, 247, 0.56);
  margin: 15% auto;
  padding: 20px;
  width: 50%;
  max-width: 400px;
  border-radius: 40px;
  text-align: center;
  position: relative;
  font-size: 18px;
  color: #424874;
}

.close-button {
  display: flex;
  justify-content: right;
}

.close {
  width: 35px;
  height: 35px;
  margin-bottom: 10px;
  color: #DCD6F7;
  background-color: #424874;
  border-radius: 100%;
  font-size: 32px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.close:hover,
.close:focus {
  color: #424874;
  text-decoration: none;
  cursor: pointer;
}

.no-event {
    color: #424874;
    display: flex;
    align-items: center;
    justify-content: center;
}