/* Global Styles */
body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f4f8f5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  transition: all 0.3s ease;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 900px;
  width: 90%;
}

.profile-header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 2px solid #e0f7e9;
  padding-bottom: 20px;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
}

.profile-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 200px;
  overflow: none;
  margin: 20px 0;
}

.profile-image img {
  width: 165px;
  height: 165px;
  object-fit: cover;
  border: 5px solid #4cb969;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.profile-image img:hover {
  transform: scale(1.02);
}

.profile-info {
  flex-grow: 1;
  width: 100%;
  max-width: 450px;
}

.profile-info h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #22883d;
  transition: color 0.3s ease;
}

.profile-info h1:hover {
  color: #34a853;
}

.profile-info p {
  font-size: 1rem;
  color: #333;
  margin: 5px 0;
  transition: color 0.3s ease;
}

.profile-info p:hover {
  color: #4cb969;
}

/* Forms and Buttons */
form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

form input[type='file'] {
  display: block;
  margin: 10px 0;
}

form button {
  background-color: #34a853;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

form button:hover {
  background-color: #2a8c43;
  transform: scale(1.03);
}

form .delete {
  margin-top: 10px;
  background-color: rgb(209, 15, 15);
  transition: all 0.3s ease-in-out;
}

form .delete:hover {
  background-color: rgb(181, 14, 14);
}

.nav-button {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}

.nav-button a {
  text-decoration: none;
  background-color: #34a853;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.nav-button a:hover {
  background-color: #2a8c43;
  transform: scale(1.03);
}

.nav-button .logout-btn {
  background-color: red;
}

/* Profile Events Section */
.profile-events {
  margin-top: 20px;
}

.profile-events h2 {
  font-size: 1.8rem;
  color: #34a853;
  margin-bottom: 10px;
}

/* Alerts */
.alert {
  position: absolute;
  top: 0;
  padding: 15px;
  margin: 20px 0;
  background: linear-gradient(90deg, #81b6ff, #4988e1);
  color: white;
  border-radius: 8px;
  font-weight: 600;
  text-align: center;
  animation: fadeOut 4s forwards; /* Gradually fades out */
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transition: ease-in-out;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .profile-header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .profile-image {
    margin-bottom: 20px;
  }

  .profile-info {
    width: 100%;
  }
}
